body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
button{
    padding: 15px 28px;
    border-radius: 15px;
    color: white;
    background-color: #47a5c4;;
    font-size: 1.5em;
    border:none;
    cursor: pointer;
}
button:hover{
    background-color: #069acb;
}
h1{
    font-size: 3em;
    margin-bottom: 50px;
}
.dice{
    font-size: 6.5em;
    margin-bottom: 10px;
}


.list-history li{
    list-style: none;
    display:flex;
    text-align: center;
    background-color: #f0f0f0;
    padding:30px 20px;
    margin-left: 320px;
    margin-right: 320px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    position:relative;
    margin-bottom: 10px;
}
.dice1{
    font-size: 2em;
    position: absolute;
    right:30px;
    bottom:10px;
}